# The API specifies which type of component this is.
# It contains specifications for:
#   - The input/output files
#   - Common parameters
#   - A unit test
__merge__: ../../api/comp_metric.yaml

# A unique identifier for your component (required).
# Can contain only lowercase letters or underscores.
name: ratio_inconsistent_peaks

# Metadata for your component
info:
  metrics:
      # A unique identifier for your metric (required).
      # Can contain only lowercase letters or underscores.
    - name: ratio_inconsistent_peaks
      label: Ratio of inconsistent peaks
      summary: "Ratio of the number of cell‑type marker‑expression peaks between unintegrated and batch-integrated data."
      description: |
        The metric compares the number of cell type specific marker expression peaks between unintegrated and batch integrated data.
        The number of peaks is calculated using the `scipy.signal.find_peaks` function.
        The metric is calculated as the absolute difference between the number of peaks in the unintegrated and batch-normalized data.
        The (cell type) marker expression profiles are first smoothed using kernel density estimation (KDE) (`scipy.stats.gaussian_kde`),
        and then peaks are then identified using the `scipy.signal.find_peaks` function.
        For peak calling, the `prominence` parameter is set to 0.1 and the `height` parameter is set to 0.05*max_density.
        Ratio of inconsistent peaks is defined as number of cases where the number of peaks differ between the two splits in the batch
        normalized data divided by the total number of cases.
        Cases where there are different number of peaks between the two splits in the unintegrated data are ignored from the denominator.
        A lower score indicates better performance, means there are less cases with inconsistent peaks after batch integration.
        
      references:
        doi: 
          - 10.1038/s41592-019-0686-2
      links:
        # URL to the documentation for this metric (required).
        documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.find_peaks.html#scipy.signal.find_peaks
        # URL to the code repository for this metric (required).
        repository: https://github.com/scipy/scipy/blob/v1.15.2/scipy/signal/_peak_finding.py#L0-L1
      # The minimum possible value for this metric (required)
      min: 0
      # The maximum possible value for this metric (required)
      max: +.inf
      # Whether a higher value represents a 'better' solution (required)
      maximize: false

# Resources required to run the component
resources:
  # The script of your component (required)
  - type: python_script
    path: script.py
  - path: helper.py
  - path: /src/utils/helper_functions.py

engines:
  # Specifications for the Docker image for this component.
  - type: docker
    image: openproblems/base_python:1
    setup:
      - type: python
        packages:
          - scikit-tda

runners:
  # This platform allows running the component natively
  - type: executable
  # Allows turning the component into a Nextflow module / pipeline.
  - type: nextflow
    directives:
      label: [midtime,midmem,midcpu]
